@import "tailwindcss";

@theme {
    --font-poppins: 'Poppins', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --color-primary: #18181B;
    --color-secondary: #71717A;
}

/* Thin scrollbar for WebKit browsers and Firefox */
:root {
    --scrollbar-size: 4px;
    /* change this to make it thicker/thinner */
    --scrollbar-track: transparent;
    --scrollbar-thumb: rgba(16, 24, 40, 0.12);
    /* subtle dark thumb */
    --scrollbar-thumb-hover: rgba(16, 24, 40, 0.18);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* WebKit */
*::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 9999px;
    border: 1px solid transparent;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}